/* Styles for the scripts */
body {
	background-color: #123;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper-line {
	font-size: 1.5em;
}

.lower-line {
	font-size: 0.9em;
}

.content-line {
	display: inline-block;
	text-align: center;
	margin: 15px 13px 0 0;
}

.text-container {
	background-color: whitesmoke;
	padding: 30px;
	max-width: 700px;
	margin: auto;
}